# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/rAthena/v17/Solution.VC.db-wal
.vs/rAthena/v17/Solution.VC.db-shm
.vs/rAthena/v17/Solution.VC.db
.vs/rAthena/v17/ipch/AutoPCH/ec9316bb3ad440ac/STRNLEN.ipch
.vs/rAthena/v17/ipch/AutoPCH/e70e6e9402b8959d/INTIF.ipch
.vs/rAthena/v17/ipch/AutoPCH/e5765d33bc510525/ATCOMMAND.ipch
.vs/rAthena/v17/ipch/AutoPCH/bacda262e7bf39b8/AUTOCOMBAT.ipch
.vs/rAthena/v17/ipch/AutoPCH/b35285434a07b5e9/CORE.ipch
.vs/rAthena/v17/ipch/AutoPCH/b0072d420efd9b5d/BATTLE.ipch
.vs/rAthena/v17/ipch/AutoPCH/a8594cd61e78f0a5/TIMER.ipch
.vs/rAthena/v17/ipch/AutoPCH/a662e79f2a9deb24/AUTOCOMBAT_SCRIPT.ipch
.vs/rAthena/v17/ipch/AutoPCH/a1aaa8d3c2186905/STATUS.ipch
.vs/rAthena/v17/ipch/AutoPCH/8a6e7b72aad072da/PC.ipch
.vs/rAthena/v17/ipch/AutoPCH/89581d0c5701b351/MAP.ipch
.vs/rAthena/v17/ipch/AutoPCH/8649f8b8d8634253/STATUS.ipch
.vs/rAthena/v17/ipch/AutoPCH/73bbfc35feca1bf9/UNIT.ipch
.vs/rAthena/v17/ipch/AutoPCH/722eab61066b581e/BATTLEGROUND.ipch
.vs/rAthena/v17/ipch/AutoPCH/6cd973786ddcd11/CHAR.ipch
.vs/rAthena/v17/ipch/AutoPCH/6082eb1528b16cf3/CLIF.ipch
.vs/rAthena/v17/ipch/AutoPCH/5ae1a1521ff811de/INT_STORAGE.ipch
.vs/rAthena/v17/ipch/AutoPCH/5a88cacf5e63ff13/MERCENARY.ipch
.vs/rAthena/v17/ipch/AutoPCH/5a3895718083a3dc/ACHIEVEMENT.ipch
.vs/rAthena/v17/ipch/AutoPCH/5585253fe62aa602/STORAGE.ipch
.vs/rAthena/v17/ipch/AutoPCH/555187d8f059095f/CLIF.ipch
.vs/rAthena/v17/ipch/AutoPCH/4d904714fc7d0d9/MOB.ipch
.vs/rAthena/v17/ipch/AutoPCH/4ab8c4bb6ed4c204/SCRIPT.ipch
.vs/rAthena/v17/ipch/AutoPCH/3ac31148df086ec8/ACHIEVEMENT.ipch
.vs/rAthena/v17/ipch/AutoPCH/3926313391608ebf/SOCKET.ipch
.vs/rAthena/v17/ipch/AutoPCH/33ce928a5802141/ATCOMMAND.ipch
.vs/rAthena/v17/ipch/AutoPCH/1beab99bab489a44/GUILD.ipch
.vs/rAthena/v17/ipch/AutoPCH/1a9e7f1504678c86/ACHIEVEMENT.ipch
.vs/rAthena/v17/ipch/AutoPCH/147f763c498abfda/CLI.ipch
.vs/rAthena/v17/fileList.bin
.vs/rAthena/v17/DocumentLayout.json
.vs/rAthena/v17/DocumentLayout.backup.json
.vs/rAthena/v17/Browse.VC.opendb
.vs/rAthena/v17/Browse.VC.db-wal
.vs/rAthena/v17/Browse.VC.db-shm
.vs/rAthena/v17/Browse.VC.db
.vs/rAthena/v17/.suo
.vs/rAthena/FileContentIndex/f487a52e-3f3e-4ba8-9ca1-c0369c738309.vsidx
.vs/rAthena/FileContentIndex/99b4e5ea-6683-4e9b-b4e1-e4498a33767c.vsidx
.vs/rAthena/FileContentIndex/760b4a6f-b600-461a-a76e-c0cdb88ba5f5.vsidx
.vs/rAthena/FileContentIndex/0572c1f8-93ed-436a-befc-826a4c2d0cf4.vsidx
.vs/rAthena/FileContentIndex/047596fc-6e12-4ed3-8942-658e479acc52.vsidx
.vs/build/yamlupgrade/x64/Release/yamlupgrade.tlog/yamlupgrade.lastbuildstate
.vs/build/yamlupgrade/x64/Release/yamlupgrade.tlog/link.write.1.tlog
.vs/build/yamlupgrade/x64/Release/yamlupgrade.tlog/link.secondary.1.tlog
.vs/build/yamlupgrade/x64/Release/yamlupgrade.tlog/link.read.1.tlog
.vs/build/yamlupgrade/x64/Release/yamlupgrade.tlog/link.command.1.tlog
.vs/build/yamlupgrade/x64/Release/yamlupgrade.tlog/CL.read.1.tlog
.vs/build/yamlupgrade/x64/Release/yamlupgrade.tlog/Cl.items.tlog
.vs/build/yamlupgrade/x64/Release/yamlupgrade.tlog/CL.command.1.tlog
.vs/build/yamlupgrade/x64/Release/yamlupgrade.tlog/CL.2540.write.1.tlog
.vs/build/yamlupgrade/x64/Release/yamlupgrade.log
.vs/build/yamlupgrade/x64/Release/yamlupgrade.ipdb
.vs/build/yamlupgrade/x64/Release/yamlupgrade.iobj
.vs/build/yamlupgrade/x64/Release/yamlupgrade.exe.recipe
.vs/build/yamlupgrade/x64/Release/yamlupgrade.Build.CppClean.log
.vs/build/yamlupgrade/x64/Release/vc143.pdb
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.tlog/yamlupgrade.lastbuildstate
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.tlog/link.write.1.tlog
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.tlog/link.secondary.1.tlog
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.tlog/link.read.1.tlog
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.tlog/link.command.1.tlog
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.tlog/CL.read.1.tlog
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.tlog/Cl.items.tlog
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.tlog/CL.command.1.tlog
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.tlog/CL.19792.write.1.tlog
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.log
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.ilk
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.exe.recipe
.vs/build/yamlupgrade/x64/Debug/yamlupgrade.Build.CppClean.log
.vs/build/yamlupgrade/x64/Debug/vc143.pdb
.vs/build/yamlupgrade/x64/Debug/vc143.idb
.vs/build/yaml2sql/x64/Release/yaml2sql.tlog/yaml2sql.lastbuildstate
.vs/build/yaml2sql/x64/Release/yaml2sql.tlog/link.write.1.tlog
.vs/build/yaml2sql/x64/Release/yaml2sql.tlog/link.secondary.1.tlog
.vs/build/yaml2sql/x64/Release/yaml2sql.tlog/link.read.1.tlog
.vs/build/yaml2sql/x64/Release/yaml2sql.tlog/link.command.1.tlog
.vs/build/yaml2sql/x64/Release/yaml2sql.tlog/CL.write.1.tlog
.vs/build/yaml2sql/x64/Release/yaml2sql.tlog/CL.read.1.tlog
.vs/build/yaml2sql/x64/Release/yaml2sql.tlog/Cl.items.tlog
.vs/build/yaml2sql/x64/Release/yaml2sql.tlog/CL.command.1.tlog
.vs/build/yaml2sql/x64/Release/yaml2sql.log
.vs/build/yaml2sql/x64/Release/yaml2sql.ipdb
.vs/build/yaml2sql/x64/Release/yaml2sql.iobj
.vs/build/yaml2sql/x64/Release/yaml2sql.exe.recipe
.vs/build/yaml2sql/x64/Release/yaml2sql.Build.CppClean.log
.vs/build/yaml2sql/x64/Release/vc143.pdb
.vs/build/yaml2sql/x64/Debug/yaml2sql.tlog/yaml2sql.lastbuildstate
.vs/build/yaml2sql/x64/Debug/yaml2sql.tlog/link.write.1.tlog
.vs/build/yaml2sql/x64/Debug/yaml2sql.tlog/link.secondary.1.tlog
.vs/build/yaml2sql/x64/Debug/yaml2sql.tlog/link.read.1.tlog
.vs/build/yaml2sql/x64/Debug/yaml2sql.tlog/link.command.1.tlog
.vs/build/yaml2sql/x64/Debug/yaml2sql.tlog/CL.write.1.tlog
.vs/build/yaml2sql/x64/Debug/yaml2sql.tlog/CL.read.1.tlog
.vs/build/yaml2sql/x64/Debug/yaml2sql.tlog/Cl.items.tlog
.vs/build/yaml2sql/x64/Debug/yaml2sql.tlog/CL.command.1.tlog
.vs/build/yaml2sql/x64/Debug/yaml2sql.log
.vs/build/yaml2sql/x64/Debug/yaml2sql.ilk
.vs/build/yaml2sql/x64/Debug/yaml2sql.exe.recipe
.vs/build/yaml2sql/x64/Debug/yaml2sql.Build.CppClean.log
.vs/build/yaml2sql/x64/Debug/vc143.pdb
.vs/build/yaml2sql/x64/Debug/vc143.idb
.vs/build/yaml-cpp/x64/Release/yaml-cpp.tlog/yaml-cpp.lastbuildstate
.vs/build/yaml-cpp/x64/Release/yaml-cpp.tlog/Lib.command.1.tlog
.vs/build/yaml-cpp/x64/Release/yaml-cpp.tlog/Lib-link.write.1.tlog
.vs/build/yaml-cpp/x64/Release/yaml-cpp.tlog/Lib-link.read.1.tlog
.vs/build/yaml-cpp/x64/Release/yaml-cpp.tlog/CL.read.1.tlog
.vs/build/yaml-cpp/x64/Release/yaml-cpp.tlog/Cl.items.tlog
.vs/build/yaml-cpp/x64/Release/yaml-cpp.tlog/CL.command.1.tlog
.vs/build/yaml-cpp/x64/Release/yaml-cpp.tlog/CL.2800.write.1.tlog
.vs/build/yaml-cpp/x64/Release/yaml-cpp.log
.vs/build/yaml-cpp/x64/Release/yaml-cpp.lib.recipe
.vs/build/yaml-cpp/x64/Release/yaml-cpp.Build.CppClean.log
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.tlog/yaml-cpp.lastbuildstate
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.tlog/Lib.command.1.tlog
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.tlog/Lib-link.write.1.tlog
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.tlog/Lib-link.read.1.tlog
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.tlog/CL.read.1.tlog
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.tlog/Cl.items.tlog
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.tlog/CL.command.1.tlog
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.tlog/CL.14208.write.1.tlog
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.log
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.lib.recipe
.vs/build/yaml-cpp/x64/Debug/yaml-cpp.Build.CppClean.log
.vs/build/yaml-cpp.pdb
.vs/build/yaml-cpp.idb
.vs/build/web-server/x64/Release/web-server.tlog/web-server.lastbuildstate
.vs/build/web-server/x64/Release/web-server.tlog/link.write.1.tlog
.vs/build/web-server/x64/Release/web-server.tlog/link.secondary.1.tlog
.vs/build/web-server/x64/Release/web-server.tlog/link.read.1.tlog
.vs/build/web-server/x64/Release/web-server.tlog/link.command.1.tlog
.vs/build/web-server/x64/Release/web-server.tlog/CL.read.1.tlog
.vs/build/web-server/x64/Release/web-server.tlog/Cl.items.tlog
.vs/build/web-server/x64/Release/web-server.tlog/CL.command.1.tlog
.vs/build/web-server/x64/Release/web-server.tlog/CL.588.write.1.tlog
.vs/build/web-server/x64/Release/web-server.log
.vs/build/web-server/x64/Release/web-server.ipdb
.vs/build/web-server/x64/Release/web-server.iobj
.vs/build/web-server/x64/Release/web-server.exe.recipe
.vs/build/web-server/x64/Release/web-server.Build.CppClean.log
.vs/build/web-server/x64/Release/vc143.pdb
.vs/build/web-server/x64/Debug/web-server.tlog/web-server.lastbuildstate
.vs/build/web-server/x64/Debug/web-server.tlog/link.write.1.tlog
.vs/build/web-server/x64/Debug/web-server.tlog/link.secondary.1.tlog
.vs/build/web-server/x64/Debug/web-server.tlog/link.read.1.tlog
.vs/build/web-server/x64/Debug/web-server.tlog/link.command.1.tlog
.vs/build/web-server/x64/Debug/web-server.tlog/CL.read.1.tlog
.vs/build/web-server/x64/Debug/web-server.tlog/Cl.items.tlog
.vs/build/web-server/x64/Debug/web-server.tlog/CL.command.1.tlog
.vs/build/web-server/x64/Debug/web-server.tlog/CL.16624.write.1.tlog
.vs/build/web-server/x64/Debug/web-server.log
.vs/build/web-server/x64/Debug/web-server.ilk
.vs/build/web-server/x64/Debug/web-server.exe.recipe
.vs/build/web-server/x64/Debug/web-server.Build.CppClean.log
.vs/build/web-server/x64/Debug/vc143.pdb
.vs/build/web-server/x64/Debug/vc143.idb
.vs/build/ryml/x64/Release/ryml.tlog/ryml.lastbuildstate
.vs/build/ryml/x64/Release/ryml.tlog/Lib.command.1.tlog
.vs/build/ryml/x64/Release/ryml.tlog/Lib-link.write.1.tlog
.vs/build/ryml/x64/Release/ryml.tlog/Lib-link.read.1.tlog
.vs/build/ryml/x64/Release/ryml.tlog/CL.read.1.tlog
.vs/build/ryml/x64/Release/ryml.tlog/Cl.items.tlog
.vs/build/ryml/x64/Release/ryml.tlog/CL.command.1.tlog
.vs/build/ryml/x64/Release/ryml.tlog/CL.6104.write.1.tlog
.vs/build/ryml/x64/Release/ryml.log
.vs/build/ryml/x64/Release/ryml.lib.recipe
.vs/build/ryml/x64/Release/ryml.Build.CppClean.log
.vs/build/ryml/x64/Debug/ryml.tlog/ryml.lastbuildstate
.vs/build/ryml/x64/Debug/ryml.tlog/Lib.command.1.tlog
.vs/build/ryml/x64/Debug/ryml.tlog/Lib-link.write.1.tlog
.vs/build/ryml/x64/Debug/ryml.tlog/Lib-link.read.1.tlog
.vs/build/ryml/x64/Debug/ryml.tlog/CL.read.1.tlog
.vs/build/ryml/x64/Debug/ryml.tlog/Cl.items.tlog
.vs/build/ryml/x64/Debug/ryml.tlog/CL.command.1.tlog
.vs/build/ryml/x64/Debug/ryml.tlog/CL.14092.write.1.tlog
.vs/build/ryml/x64/Debug/ryml.log
.vs/build/ryml/x64/Debug/ryml.lib.recipe
.vs/build/ryml/x64/Debug/ryml.Build.CppClean.log
.vs/build/mapcache/x64/Release/vc143.pdb
.vs/build/mapcache/x64/Release/mapcache.tlog/mapcache.lastbuildstate
.vs/build/mapcache/x64/Release/mapcache.tlog/link.write.1.tlog
.vs/build/mapcache/x64/Release/mapcache.tlog/link.secondary.1.tlog
.vs/build/mapcache/x64/Release/mapcache.tlog/link.read.1.tlog
.vs/build/mapcache/x64/Release/mapcache.tlog/link.command.1.tlog
.vs/build/mapcache/x64/Release/mapcache.tlog/CL.write.1.tlog
.vs/build/mapcache/x64/Release/mapcache.tlog/CL.read.1.tlog
.vs/build/mapcache/x64/Release/mapcache.tlog/Cl.items.tlog
.vs/build/mapcache/x64/Release/mapcache.tlog/CL.command.1.tlog
.vs/build/mapcache/x64/Release/mapcache.log
.vs/build/mapcache/x64/Release/mapcache.ipdb
.vs/build/mapcache/x64/Release/mapcache.iobj
.vs/build/mapcache/x64/Release/mapcache.exe.recipe
.vs/build/mapcache/x64/Release/mapcache.Build.CppClean.log
.vs/build/mapcache/x64/Debug/vc143.pdb
.vs/build/mapcache/x64/Debug/vc143.idb
.vs/build/mapcache/x64/Debug/mapcache.tlog/mapcache.lastbuildstate
.vs/build/mapcache/x64/Debug/mapcache.tlog/link.write.1.tlog
.vs/build/mapcache/x64/Debug/mapcache.tlog/link.secondary.1.tlog
.vs/build/mapcache/x64/Debug/mapcache.tlog/link.read.1.tlog
.vs/build/mapcache/x64/Debug/mapcache.tlog/link.command.1.tlog
.vs/build/mapcache/x64/Debug/mapcache.tlog/CL.write.1.tlog
.vs/build/mapcache/x64/Debug/mapcache.tlog/CL.read.1.tlog
.vs/build/mapcache/x64/Debug/mapcache.tlog/Cl.items.tlog
.vs/build/mapcache/x64/Debug/mapcache.tlog/CL.command.1.tlog
.vs/build/mapcache/x64/Debug/mapcache.log
.vs/build/mapcache/x64/Debug/mapcache.ilk
.vs/build/mapcache/x64/Debug/mapcache.exe.recipe
.vs/build/mapcache/x64/Debug/mapcache.Build.CppClean.log
.vs/build/map-server/x64/Release/vc143.pdb
.vs/build/map-server/x64/Release/map-server.tlog/map-server.lastbuildstate
.vs/build/map-server/x64/Release/map-server.tlog/link.write.1.tlog
.vs/build/map-server/x64/Release/map-server.tlog/link.secondary.1.tlog
.vs/build/map-server/x64/Release/map-server.tlog/link.read.1.tlog
.vs/build/map-server/x64/Release/map-server.tlog/link.command.1.tlog
.vs/build/map-server/x64/Release/map-server.tlog/CL.write.1.tlog
.vs/build/map-server/x64/Release/map-server.tlog/CL.read.1.tlog
.vs/build/map-server/x64/Release/map-server.tlog/Cl.items.tlog
.vs/build/map-server/x64/Release/map-server.tlog/CL.command.1.tlog
.vs/build/map-server/x64/Release/map-server.log
.vs/build/map-server/x64/Release/map-server.ipdb
.vs/build/map-server/x64/Release/map-server.iobj
.vs/build/map-server/x64/Release/map-server.exe.recipe
.vs/build/map-server/x64/Release/map-server.Build.CppClean.log
.vs/build/map-server/x64/Debug/vc143.pdb
.vs/build/map-server/x64/Debug/vc143.idb
.vs/build/map-server/x64/Debug/map-server.tlog/map-server.lastbuildstate
.vs/build/map-server/x64/Debug/map-server.tlog/link.write.1.tlog
.vs/build/map-server/x64/Debug/map-server.tlog/link.secondary.1.tlog
.vs/build/map-server/x64/Debug/map-server.tlog/link.read.1.tlog
.vs/build/map-server/x64/Debug/map-server.tlog/link.command.1.tlog
.vs/build/map-server/x64/Debug/map-server.tlog/CL.write.1.tlog
.vs/build/map-server/x64/Debug/map-server.tlog/CL.read.1.tlog
.vs/build/map-server/x64/Debug/map-server.tlog/Cl.items.tlog
.vs/build/map-server/x64/Debug/map-server.tlog/CL.command.1.tlog
.vs/build/map-server/x64/Debug/map-server.log
.vs/build/map-server/x64/Debug/map-server.ilk
.vs/build/map-server/x64/Debug/map-server.exe.recipe
.vs/build/map-server/x64/Debug/map-server.Build.CppClean.log
.vs/build/map-server-generator/x64/Release/vc143.pdb
.vs/build/map-server-generator/x64/Release/map-server-generator.log
.vs/build/map-server-generator/x64/Release/map-server-generator.ipdb
.vs/build/map-server-generator/x64/Release/map-server-generator.iobj
.vs/build/map-server-generator/x64/Release/map-server-generator.exe.recipe
.vs/build/map-server-generator/x64/Release/map-server-generator.Build.CppClean.log
.vs/build/map-server-generator/x64/Release/map-serv.EB03BC16.tlog/map-server-generator.lastbuildstate
.vs/build/map-server-generator/x64/Release/map-serv.EB03BC16.tlog/link.write.1.tlog
.vs/build/map-server-generator/x64/Release/map-serv.EB03BC16.tlog/link.secondary.1.tlog
.vs/build/map-server-generator/x64/Release/map-serv.EB03BC16.tlog/link.read.1.tlog
.vs/build/map-server-generator/x64/Release/map-serv.EB03BC16.tlog/link.command.1.tlog
.vs/build/map-server-generator/x64/Release/map-serv.EB03BC16.tlog/CL.write.1.tlog
.vs/build/map-server-generator/x64/Release/map-serv.EB03BC16.tlog/CL.read.1.tlog
.vs/build/map-server-generator/x64/Release/map-serv.EB03BC16.tlog/Cl.items.tlog
.vs/build/map-server-generator/x64/Release/map-serv.EB03BC16.tlog/CL.command.1.tlog
.vs/build/map-server-generator/x64/Debug/vc143.pdb
.vs/build/map-server-generator/x64/Debug/vc143.idb
.vs/build/map-server-generator/x64/Debug/map-server-generator.log
.vs/build/map-server-generator/x64/Debug/map-server-generator.ilk
.vs/build/map-server-generator/x64/Debug/map-server-generator.exe.recipe
.vs/build/map-server-generator/x64/Debug/map-server-generator.Build.CppClean.log
.vs/build/map-server-generator/x64/Debug/map-serv.EB03BC16.tlog/map-server-generator.lastbuildstate
.vs/build/map-server-generator/x64/Debug/map-serv.EB03BC16.tlog/link.write.1.tlog
.vs/build/map-server-generator/x64/Debug/map-serv.EB03BC16.tlog/link.secondary.1.tlog
.vs/build/map-server-generator/x64/Debug/map-serv.EB03BC16.tlog/link.read.1.tlog
.vs/build/map-server-generator/x64/Debug/map-serv.EB03BC16.tlog/link.command.1.tlog
.vs/build/map-server-generator/x64/Debug/map-serv.EB03BC16.tlog/CL.read.1.tlog
.vs/build/map-server-generator/x64/Debug/map-serv.EB03BC16.tlog/Cl.items.tlog
.vs/build/map-server-generator/x64/Debug/map-serv.EB03BC16.tlog/CL.command.1.tlog
.vs/build/map-server-generator/x64/Debug/map-serv.EB03BC16.tlog/CL.12072.write.1.tlog
.vs/build/login-server/x64/Release/vc143.pdb
.vs/build/login-server/x64/Release/login-server.tlog/login-server.lastbuildstate
.vs/build/login-server/x64/Release/login-server.tlog/link.write.1.tlog
.vs/build/login-server/x64/Release/login-server.tlog/link.secondary.1.tlog
.vs/build/login-server/x64/Release/login-server.tlog/link.read.1.tlog
.vs/build/login-server/x64/Release/login-server.tlog/link.command.1.tlog
.vs/build/login-server/x64/Release/login-server.tlog/CL.read.1.tlog
.vs/build/login-server/x64/Release/login-server.tlog/Cl.items.tlog
.vs/build/login-server/x64/Release/login-server.tlog/CL.command.1.tlog
.vs/build/login-server/x64/Release/login-server.tlog/CL.2124.write.1.tlog
.vs/build/login-server/x64/Release/login-server.log
.vs/build/login-server/x64/Release/login-server.ipdb
.vs/build/login-server/x64/Release/login-server.iobj
.vs/build/login-server/x64/Release/login-server.exe.recipe
.vs/build/login-server/x64/Release/login-server.Build.CppClean.log
.vs/build/login-server/x64/Debug/vc143.pdb
.vs/build/login-server/x64/Debug/vc143.idb
.vs/build/login-server/x64/Debug/login-server.tlog/login-server.lastbuildstate
.vs/build/login-server/x64/Debug/login-server.tlog/link.write.1.tlog
.vs/build/login-server/x64/Debug/login-server.tlog/link.secondary.1.tlog
.vs/build/login-server/x64/Debug/login-server.tlog/link.read.1.tlog
.vs/build/login-server/x64/Debug/login-server.tlog/link.command.1.tlog
.vs/build/login-server/x64/Debug/login-server.tlog/CL.read.1.tlog
.vs/build/login-server/x64/Debug/login-server.tlog/Cl.items.tlog
.vs/build/login-server/x64/Debug/login-server.tlog/CL.command.1.tlog
.vs/build/login-server/x64/Debug/login-server.tlog/CL.12336.write.1.tlog
.vs/build/login-server/x64/Debug/login-server.log
.vs/build/login-server/x64/Debug/login-server.ilk
.vs/build/login-server/x64/Debug/login-server.exe.recipe
.vs/build/login-server/x64/Debug/login-server.Build.CppClean.log
.vs/build/libconfig/x64/Release/libconfig.tlog/libconfig.lastbuildstate
.vs/build/libconfig/x64/Release/libconfig.tlog/Lib.command.1.tlog
.vs/build/libconfig/x64/Release/libconfig.tlog/Lib-link.write.1.tlog
.vs/build/libconfig/x64/Release/libconfig.tlog/Lib-link.read.1.tlog
.vs/build/libconfig/x64/Release/libconfig.tlog/CL.read.1.tlog
.vs/build/libconfig/x64/Release/libconfig.tlog/Cl.items.tlog
.vs/build/libconfig/x64/Release/libconfig.tlog/CL.command.1.tlog
.vs/build/libconfig/x64/Release/libconfig.tlog/CL.1428.write.1.tlog
.vs/build/libconfig/x64/Release/libconfig.log
.vs/build/libconfig/x64/Release/libconfig.lib.recipe
.vs/build/libconfig/x64/Release/libconfig.Build.CppClean.log
.vs/build/libconfig/x64/Debug/libconfig.tlog/libconfig.lastbuildstate
.vs/build/libconfig/x64/Debug/libconfig.tlog/Lib.command.1.tlog
.vs/build/libconfig/x64/Debug/libconfig.tlog/Lib-link.write.1.tlog
.vs/build/libconfig/x64/Debug/libconfig.tlog/Lib-link.read.1.tlog
.vs/build/libconfig/x64/Debug/libconfig.tlog/CL.read.1.tlog
.vs/build/libconfig/x64/Debug/libconfig.tlog/Cl.items.tlog
.vs/build/libconfig/x64/Debug/libconfig.tlog/CL.command.1.tlog
.vs/build/libconfig/x64/Debug/libconfig.tlog/CL.14388.write.1.tlog
.vs/build/libconfig/x64/Debug/libconfig.log
.vs/build/libconfig/x64/Debug/libconfig.lib.recipe
.vs/build/libconfig/x64/Debug/libconfig.Build.CppClean.log
.vs/build/libconfig.pdb
.vs/build/libconfig.idb
.vs/build/httplib/x64/Release/httplib.tlog/Lib.command.1.tlog
.vs/build/httplib/x64/Release/httplib.tlog/Lib-link.write.1.tlog
.vs/build/httplib/x64/Release/httplib.tlog/Lib-link.read.1.tlog
.vs/build/httplib/x64/Release/httplib.tlog/httplib.lastbuildstate
.vs/build/httplib/x64/Release/httplib.tlog/CL.write.1.tlog
.vs/build/httplib/x64/Release/httplib.tlog/CL.read.1.tlog
.vs/build/httplib/x64/Release/httplib.tlog/Cl.items.tlog
.vs/build/httplib/x64/Release/httplib.tlog/CL.command.1.tlog
.vs/build/httplib/x64/Release/httplib.log
.vs/build/httplib/x64/Release/httplib.lib.recipe
.vs/build/httplib/x64/Release/httplib.Build.CppClean.log
.vs/build/httplib/x64/Debug/httplib.tlog/Lib.command.1.tlog
.vs/build/httplib/x64/Debug/httplib.tlog/Lib-link.write.1.tlog
.vs/build/httplib/x64/Debug/httplib.tlog/Lib-link.read.1.tlog
.vs/build/httplib/x64/Debug/httplib.tlog/httplib.lastbuildstate
.vs/build/httplib/x64/Debug/httplib.tlog/CL.write.1.tlog
.vs/build/httplib/x64/Debug/httplib.tlog/CL.read.1.tlog
.vs/build/httplib/x64/Debug/httplib.tlog/Cl.items.tlog
.vs/build/httplib/x64/Debug/httplib.tlog/CL.command.1.tlog
.vs/build/httplib/x64/Debug/httplib.log
.vs/build/httplib/x64/Debug/httplib.lib.recipe
.vs/build/httplib/x64/Debug/httplib.Build.CppClean.log
.vs/build/httplib.pdb
.vs/build/httplib.idb
.vs/build/csv2yaml/x64/Release/vc143.pdb
.vs/build/csv2yaml/x64/Release/csv2yaml.tlog/link.write.1.tlog
.vs/build/csv2yaml/x64/Release/csv2yaml.tlog/link.secondary.1.tlog
.vs/build/csv2yaml/x64/Release/csv2yaml.tlog/link.read.1.tlog
.vs/build/csv2yaml/x64/Release/csv2yaml.tlog/link.command.1.tlog
.vs/build/csv2yaml/x64/Release/csv2yaml.tlog/csv2yaml.lastbuildstate
.vs/build/csv2yaml/x64/Release/csv2yaml.tlog/CL.read.1.tlog
.vs/build/csv2yaml/x64/Release/csv2yaml.tlog/Cl.items.tlog
.vs/build/csv2yaml/x64/Release/csv2yaml.tlog/CL.command.1.tlog
.vs/build/csv2yaml/x64/Release/csv2yaml.tlog/CL.7544.write.1.tlog
.vs/build/csv2yaml/x64/Release/csv2yaml.log
.vs/build/csv2yaml/x64/Release/csv2yaml.ipdb
.vs/build/csv2yaml/x64/Release/csv2yaml.iobj
.vs/build/csv2yaml/x64/Release/csv2yaml.exe.recipe
.vs/build/csv2yaml/x64/Release/csv2yaml.Build.CppClean.log
.vs/build/csv2yaml/x64/Debug/vc143.pdb
.vs/build/csv2yaml/x64/Debug/vc143.idb
.vs/build/csv2yaml/x64/Debug/csv2yaml.tlog/link.write.1.tlog
.vs/build/csv2yaml/x64/Debug/csv2yaml.tlog/link.secondary.1.tlog
.vs/build/csv2yaml/x64/Debug/csv2yaml.tlog/link.read.1.tlog
.vs/build/csv2yaml/x64/Debug/csv2yaml.tlog/link.command.1.tlog
.vs/build/csv2yaml/x64/Debug/csv2yaml.tlog/csv2yaml.lastbuildstate
.vs/build/csv2yaml/x64/Debug/csv2yaml.tlog/CL.read.1.tlog
.vs/build/csv2yaml/x64/Debug/csv2yaml.tlog/Cl.items.tlog
.vs/build/csv2yaml/x64/Debug/csv2yaml.tlog/CL.command.1.tlog
.vs/build/csv2yaml/x64/Debug/csv2yaml.tlog/CL.16092.write.1.tlog
.vs/build/csv2yaml/x64/Debug/csv2yaml.log
.vs/build/csv2yaml/x64/Debug/csv2yaml.ilk
.vs/build/csv2yaml/x64/Debug/csv2yaml.exe.recipe
.vs/build/csv2yaml/x64/Debug/csv2yaml.Build.CppClean.log
.vs/build/common/x64/Release/common.tlog/Lib.command.1.tlog
.vs/build/common/x64/Release/common.tlog/Lib-link.write.1.tlog
.vs/build/common/x64/Release/common.tlog/Lib-link.read.1.tlog
.vs/build/common/x64/Release/common.tlog/common.lastbuildstate
.vs/build/common/x64/Release/common.tlog/CL.read.1.tlog
.vs/build/common/x64/Release/common.tlog/Cl.items.tlog
.vs/build/common/x64/Release/common.tlog/CL.command.1.tlog
.vs/build/common/x64/Release/common.tlog/CL.1824.write.1.tlog
.vs/build/common/x64/Release/common.log
.vs/build/common/x64/Release/common.lib.recipe
.vs/build/common/x64/Release/common.Build.CppClean.log
.vs/build/common/x64/Debug/common.tlog/Lib.command.1.tlog
.vs/build/common/x64/Debug/common.tlog/Lib-link.write.1.tlog
.vs/build/common/x64/Debug/common.tlog/Lib-link.read.1.tlog
.vs/build/common/x64/Debug/common.tlog/common.lastbuildstate
.vs/build/common/x64/Debug/common.tlog/CL.read.1.tlog
.vs/build/common/x64/Debug/common.tlog/Cl.items.tlog
.vs/build/common/x64/Debug/common.tlog/CL.command.1.tlog
.vs/build/common/x64/Debug/common.tlog/CL.10164.write.1.tlog
.vs/build/common/x64/Debug/common.log
.vs/build/common/x64/Debug/common.lib.recipe
.vs/build/common/x64/Debug/common.Build.CppClean.log
.vs/build/common.pdb
.vs/build/common.idb
.vs/build/common-minicore/x64/Release/common-minicore.tlog/Lib.command.1.tlog
.vs/build/common-minicore/x64/Release/common-minicore.tlog/Lib-link.write.1.tlog
.vs/build/common-minicore/x64/Release/common-minicore.tlog/Lib-link.read.1.tlog
.vs/build/common-minicore/x64/Release/common-minicore.tlog/common-minicore.lastbuildstate
.vs/build/common-minicore/x64/Release/common-minicore.tlog/CL.read.1.tlog
.vs/build/common-minicore/x64/Release/common-minicore.tlog/Cl.items.tlog
.vs/build/common-minicore/x64/Release/common-minicore.tlog/CL.command.1.tlog
.vs/build/common-minicore/x64/Release/common-minicore.tlog/CL.1664.write.1.tlog
.vs/build/common-minicore/x64/Release/common-minicore.log
.vs/build/common-minicore/x64/Release/common-minicore.lib.recipe
.vs/build/common-minicore/x64/Release/common-minicore.Build.CppClean.log
.vs/build/common-minicore/x64/Debug/common-minicore.tlog/Lib.command.1.tlog
.vs/build/common-minicore/x64/Debug/common-minicore.tlog/Lib-link.write.1.tlog
.vs/build/common-minicore/x64/Debug/common-minicore.tlog/Lib-link.read.1.tlog
.vs/build/common-minicore/x64/Debug/common-minicore.tlog/common-minicore.lastbuildstate
.vs/build/common-minicore/x64/Debug/common-minicore.tlog/CL.read.1.tlog
.vs/build/common-minicore/x64/Debug/common-minicore.tlog/Cl.items.tlog
.vs/build/common-minicore/x64/Debug/common-minicore.tlog/CL.command.1.tlog
.vs/build/common-minicore/x64/Debug/common-minicore.tlog/CL.10172.write.1.tlog
.vs/build/common-minicore/x64/Debug/common-minicore.log
.vs/build/common-minicore/x64/Debug/common-minicore.lib.recipe
.vs/build/common-minicore/x64/Debug/common-minicore.Build.CppClean.log
.vs/build/common-minicore.pdb
.vs/build/common-minicore.idb
.vs/build/char-server/x64/Release/vc143.pdb
.vs/build/char-server/x64/Release/char-server.tlog/link.write.1.tlog
.vs/build/char-server/x64/Release/char-server.tlog/link.secondary.1.tlog
.vs/build/char-server/x64/Release/char-server.tlog/link.read.1.tlog
.vs/build/char-server/x64/Release/char-server.tlog/link.command.1.tlog
.vs/build/char-server/x64/Release/char-server.tlog/CL.read.1.tlog
.vs/build/char-server/x64/Release/char-server.tlog/Cl.items.tlog
.vs/build/char-server/x64/Release/char-server.tlog/CL.command.1.tlog
.vs/build/char-server/x64/Release/char-server.tlog/CL.1020.write.1.tlog
.vs/build/char-server/x64/Release/char-server.tlog/char-server.lastbuildstate
.vs/build/char-server/x64/Release/char-server.log
.vs/build/char-server/x64/Release/char-server.ipdb
.vs/build/char-server/x64/Release/char-server.iobj
.vs/build/char-server/x64/Release/char-server.exe.recipe
.vs/build/char-server/x64/Release/char-server.Build.CppClean.log
.vs/build/char-server/x64/Debug/vc143.pdb
.vs/build/char-server/x64/Debug/vc143.idb
.vs/build/char-server/x64/Debug/char-server.tlog/link.write.1.tlog
.vs/build/char-server/x64/Debug/char-server.tlog/link.secondary.1.tlog
.vs/build/char-server/x64/Debug/char-server.tlog/link.read.1.tlog
.vs/build/char-server/x64/Debug/char-server.tlog/link.command.1.tlog
.vs/build/char-server/x64/Debug/char-server.tlog/CL.read.1.tlog
.vs/build/char-server/x64/Debug/char-server.tlog/Cl.items.tlog
.vs/build/char-server/x64/Debug/char-server.tlog/CL.command.1.tlog
.vs/build/char-server/x64/Debug/char-server.tlog/CL.10848.write.1.tlog
.vs/build/char-server/x64/Debug/char-server.tlog/char-server.lastbuildstate
.vs/build/char-server/x64/Debug/char-server.log
.vs/build/char-server/x64/Debug/char-server.ilk
.vs/build/char-server/x64/Debug/char-server.exe.recipe
.vs/build/char-server/x64/Debug/char-server.Build.CppClean.log
